@use "../../Styles/mixins" as *;
@use "../../Styles/typography" as *;


.signup{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title{
        font-size: 3rem;
        color: white;
    }

    &__button{
        display: inline-block;
        font-size: 30px;
        padding: 10px 5px;
        text-decoration: none;
        border: none;
        background-color: none;
        color: whitesmoke;
        font-weight: 300;
        font-size: 12px;
        width: 6.3rem;
        margin: 1rem;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    }

}

